<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bzride.com.bzride" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".registeruser"
            android:label="@string/title_activity_registeruser"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".usercarddetails"
            android:label="@string/title_activity_usercarddetails"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".EULA"
            android:label="@string/title_activity_eul"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
